/* ------------------ G L O B A L  T A G S ------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, li, a {
    font-family: "Gill Sans", sans-serif;
    font-weight: 100;
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 0.8);
}

.d-flex {
    display: flex;
}

.a-items-center {
    align-items: center;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

/* ------------------ G L O B A L  T A G S ------------------ */

header {
    justify-content: space-around;
    padding: 2rem 2rem;
    box-shadow: 0px 0px 5px 0px;
}

nav ul {
    justify-content: center;
}

nav ul li {
    padding: 0 1rem;
}

nav ul li a {
    font-size: 0.8em;
}

/* Primary navigation items hover animation */
.primary-a-items {
    position: relative;
}

.primary-a-items::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    inset: calc(100% - 1px) 0 0 0;
    transition: scale 0.5s;
    -webkit-transition: scale 0.5s;
    -moz-transition: scale 0.5s;
    scale: 0 1;
}

.primary-a-items:hover::before {
    scale: 1;
}

/* Sign up - Log in buttons hover animation */
.secondary-a-items {
    position: relative;
    background-color: #ffffff;
    padding: 0.2rem 0;

}

.icon-hidden {
    position: absolute;
    z-index: -1;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
}

.secondary-a-items:hover .icon-hidden {
    left: -1rem;
    top: 15%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
}

/* H A M B U R G E R - M E N U - B U T T O N - S T Y L I N G */

#menu-btn {
    display: none;
}

/* Button's Middle Line */
#hamburger-btn {
    position: relative;
    width: 30px;
    height: 0.1875rem;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Button's Animation Duration Property - Creating and Colouring First and Last Lines */
#hamburger-btn::before,
#hamburger-btn::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
}

/* Button's First Line&Style */
#hamburger-btn::before {
    top: -8px;
    width: 30px;
    height: 0.1875rem;
}

/* Button's Last Line&Style */
#hamburger-btn::after {
    bottom: -8px;
    width: 30px;
    height: 0.1875rem;
}

/* H A M B U R G E R - M E N U - B U T T O N - S T Y L I N G */

/* M E D I A - Q U E R Y - R E S P O N S I V E - D E S I G N */

@media (max-width: 768px) {
    
    #navigation {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: -70%;
        height: 100%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%); 
        transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        background-color: #f7f7f7;
    }

    #navigation.active {
        left: 0;
        width: 100%;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }
    
    #navigation ul {
        display: block;
        margin: 2rem 2rem;
    }

    #navigation ul li {
        margin: 1rem 1rem;
    }

    #navigation ul li a {
        font-size: 1em;
    }

    .secondary-a-items {
        background-color: #f7f7f7;
    }

    #menu-btn {
        display: flex;
        height: 30px;
        cursor: pointer;
    }

    /* Button's Middle Line Transparent Style */
    #menu-btn.active #hamburger-btn {
        background-color: transparent;
    }

    /* Button's First Line's Transform to / (X) button */
    #menu-btn.active #hamburger-btn::before {
        transform: translateY(8px) rotate(-45deg);
        -webkit-transform: translateY(8px) rotate(-45deg);
        -moz-transform: translateY(8px) rotate(-45deg)
    }

    /* Button's Last Line's Transform to \ (X) button */
    #menu-btn.active #hamburger-btn::after {
        transform: translateY(-8px) rotate(45deg);
        -webkit-transform: translateY(-8px) rotate(45deg);
        -moz-transform: translateY(-8px) rotate(45deg)
    }
    
}

/* M E D I A - Q U E R Y - R E S P O N S I V E - D E S I G N */