/* ----------------- G L O B A L - T A G S ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, li, a {
    font-family: "Gill Sans", sans-serif;
    font-weight: 100;
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 0.8);
}

.d-flex {
    display: flex;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.box-shadow-5-03 {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.c-pointer {
    cursor: pointer;
}

.d-none {
    display: none;
}

#underline {
    text-decoration: underline;
}

/* ----------------- G L O B A L - T A G S ----------------- */

/* ----------------- H E A D E R ----------------- */

header {
    justify-content: space-around;
    padding: 2rem 2rem;
}

nav ul {
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    font-size: 0.8em;
}

/* S E A R C H - I N P U T - B U T T O N - S T Y L I N G */

/* Input and buttons styling */

#search-input {
    display: none;
    width: 0;
}

#search-input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.8);
    width: 250px;
    transition: width 1s;
}

#search-btn {
    border: none;
    background-color: transparent;
}

#close-btn {
    display: none;
}
/* Input and buttons styling */

/* Input and buttons active cases */
#search-input.active {
    display: flex;
    width: 250px;
    height: 25px;
    padding: 0.3rem 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: none;
    border-left: none;
}

#search-btn.active {
    float: left;
    padding: 0 0.3rem;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#close-btn.active {
    display: flex;
    margin: 0 0 0 0.3rem;
    padding: 0 0.2rem;
}
/* Input and buttons active cases */

/* S E A R C H - I N P U T - B U T T O N - S T Y L I N G */

/* D R O P D O W N - U S E R - I C O N - S T Y L I N G */

#dropdown-container {
    left: -3rem;
}

#dropdown:hover #dropdown-container {
    display: block;
}

#dropdown-items-wrap {
    width: 120px;
    margin: 1rem 0 0 0;
    background-color: rgba(251, 251, 251, 0.9);
    border-radius: 5px;
}

.dropdown-li-item {
    margin: auto;
    padding: 1rem 1rem;
}

/* H A M B U R G E R - M E N U - B U T T O N - S T Y L I N G */

#menu-btn {
    align-items: center;
}

/* Button's Middle Line */
#hamburger-btn {
    width: 30px;
    height: 0.1875rem;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Button's Animation Duration Property - Creating and Colouring First and Last Lines */
#hamburger-btn::before,
#hamburger-btn::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
}

/* Button's First Line&Style */
#hamburger-btn::before {
    top: -8px;
    width: 30px;
    height: 0.1875rem;
}

/* Button's Last Line&Style */
#hamburger-btn::after {
    bottom: -8px;
    width: 30px;
    height: 0.1875rem;
}

/* H A M B U R G E R - M E N U - B U T T O N - S T Y L I N G */

/* M E D I A - Q U E R Y - R E S P O N S I V E - D E S I G N */

@media (max-width: 768px) {
    
    #navigation {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: -70%;
        height: 100%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        background-color: rgb(249, 249, 249);;
    }

    #navigation.active {
        left: 0;
        width: 100%;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }
    
    #navigation ul {
        display: block;
        margin: 2rem 2rem;
    }

    #navigation ul li {
        margin: 1rem 1rem;
    }

    #navigation ul li a {
        font-size: 1em;
    }

    #user-dropdown-icon {
        display: none;
    }

    #dropdown-container {
        display: flex;
        z-index: 999;
    }

    #menu-btn {
        display: flex;
        height: 30px;
        cursor: pointer;
    }

    /* Button's Middle Line Transparent Style */
    #menu-btn.active #hamburger-btn {
        background-color: transparent;
    }

    /* Button's First Line's Transform to / (X) button */
    #menu-btn.active #hamburger-btn::before {
        transform: translateY(8px) rotate(-45deg);
        -webkit-transform: translateY(8px) rotate(-45deg);
        -moz-transform: translateY(8px) rotate(-45deg);
    }

    /* Button's Last Line's Transform to \ (X) button */
    #menu-btn.active #hamburger-btn::after {
        transform: translateY(-8px) rotate(45deg);
        -webkit-transform: translateY(-8px) rotate(45deg);
        -moz-transform: translateY(-8px) rotate(45deg);
    }
    
}

/* M E D I A - Q U E R Y - R E S P O N S I V E - D E S I G N */

/* ----------------- H E A D E R ----------------- */