/* ----------------- G L O B A L - T A G S ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, li, a {
    font-family: "Gill Sans", sans-serif;
    font-weight: 100;
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 0.8);
}

.d-flex {
    display: flex;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.box-shadow-5-03 {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.c-pointer {
    cursor: pointer;
}

.d-none {
    display: none;
}

/* Global visibility, opacity styling for search input and close(x) button */
.opacity-0-visibility-hid {  /* before search button is clicked both items are not visible */
    opacity: 0;
    visibility: hidden; 
}

/* Global styling for positioning search elements on y axis and aligned to the right */
.position-center-y-right-0 {
    top: 50%; /* move element down by 50% of the parent's height */
    right: 0; /* align element to the right edge of the parent */
    transform: translateY(-50%); /* adjust for vertical centering */
    -webkit-transform: translateY(-50%); /* Safari support (in a case, it might be removed) */
    -moz-transform: translateY(-50%); /* Firefox support (in a case, it might be removed) */
}

/* ----------------- G L O B A L - T A G S ----------------- */

/* ----------------- H E A D E R ----------------- */

header {
    justify-content: space-around;
    padding: 2rem 2rem;
}

nav ul li {
    padding: 0 1rem;
}

nav ul li a {
    font-size: 0.8em;
}

.primary-nav-items:nth-last-child(3) {
    border-right: 1px solid rgba(0, 0, 0, 0.3); /* giving border to primary nav item's last li item for seperation */
}

/* P R I M A R Y - L I - I T E M S - H O V E R - T R A N S F O R M - T R A N S I T I O N */
.primary-a-items {
    position: relative;
}

.primary-a-items::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 0.5px; 
    background-color: #000;
    transform-origin: right;
    transform: scaleX(0); /* starts with no underline */
    transition: transform 0.3s ease-in-out
}

.primary-a-items:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
/* P R I M A R Y - L I - I T E M S - H O V E R - T R A N S F O R M - T R A N S I T I O N */

/* S E A R C H - I N P U T - B U T T O N - S T Y L I N G */

/* Input and buttons styling */
#search-input {
    width: 0; /* Initial width set to 0 to allow smooth width expansion animation. */
    height: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: none;
    border-left: none;
    transition: width 0.5s ease-in-out, opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

#search-input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.8);
}

#search-btn {
    transition: right 0.5s ease-in-out;
    border: none;
    background-color: transparent;
}

#close-btn {
    transition: opacity 0.01s ease-in-out, visibility 0.01s ease-in-out;
}
/* Input and buttons styling */

/* Input and buttons active clases */
#search-input.active,
#close-btn.active { /* after search button is clicked both items are visible */
    opacity: 1; 
    visibility: visible;
}

#search-input.active {
    width: 100%; /* JavaScript (`openSearchinput`) function sets search form(`wrappers`) width to 21.40rem on search button click. */
    padding: 0.3rem 2rem;
}

#search-btn.active {
    right: 19.8875rem;
    padding: 0 0.3rem;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#close-btn.active {
    margin: 0 0 0 0.3rem;
    padding: 0 0.2rem;
}
/* Input and buttons active clases */

/* S E A R C H - I N P U T - B U T T O N - S T Y L I N G */

/* D R O P D O W N - U S E R - I C O N - S T Y L I N G */

#dropdown-container {
    left: -2rem;
}

#dropdown:hover #dropdown-container {
    display: block;
}

#dropdown-items-wrap {
    width: 120px;
    margin: 1rem 0 0 0;
    background-color: rgba(251, 251, 251, 0.9);
    border-radius: 5px;
}

.dropdown-li-item {
    padding: 1rem 1rem;
    border-radius: 5px;
}

.dropdown-li-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* H A M B U R G E R - M E N U - B U T T O N - S T Y L I N G */

#menu-btn {
    align-items: center;
}

/* Button's Middle Line */
#hamburger-btn {
    width: 30px;
    height: 0.1875rem;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Button's Animation Duration Property - Creating and Colouring First and Last Lines */
#hamburger-btn::before,
#hamburger-btn::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
}

/* Button's First Line Styling */
#hamburger-btn::before {
    top: -8px;
    width: 30px;
    height: 0.1875rem;
}

/* Button's Last Line Styling */
#hamburger-btn::after {
    bottom: -8px;
    width: 30px;
    height: 0.1875rem;
}

/* H A M B U R G E R - M E N U - B U T T O N - S T Y L I N G */

/* M E D I A - Q U E R Y - R E S P O N S I V E - D E S I G N */

@media (max-width: 768px) {

    /* nav tag responsive styling */
    #navigation {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: -70%;
        height: 100%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        background-color: rgb(249, 249, 249);;
    }

    #navigation.active {
        left: 0;
        width: 100%;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }

    nav ul li {
        padding: 0;
    }

    /* ul tag responsive styling */
    #parent {
        position: relative;
        display: block;
        margin: 1rem 3rem;
        height: 100%;
    }
    
    /* Primary li items responsive styling */
    .primary-nav-items {
        margin: 1.5rem 1rem;
    }

    .primary-nav-items:nth-last-child(3) {
        border-right: none;
    }

    .primary-a-items:hover::after {
        content: none;
    }

    #navigation ul li a {
        font-size: 1em;
    }
    
    /* Search li tag responsive styling */  
    #search {
        display: flex;
        position: absolute;
        bottom: 3rem;
        height: 25px;
        width: 100%;
        padding: 0;
    }

    #search-form {
        width: 21.40rem;
        margin: 0rem 1rem;
    }

    #search-btn {
        position: relative;
        left: 0;
        top: 45%;
        transform: translateY(-55%);
   }

    #close-btn {
        display: none !important;
    }

    /* Dropdown li tag responsive styling */
    #dropdown {
        margin: 1rem 0 0 1rem;
    }
    
    #user-dropdown-icon {
        display: none;
    }

    #dropdown-container {
        position: static;
        display: block;
    }

    #dropdown-items-wrap {
        width: 100%;
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }

    .dropdown-li-item {
        padding: 0.8rem 0;
        margin: 0;
    }

    .dropdown-li-item:hover {
        background: none;
    }

    .dropdown-li-item i {
        display: none;
    }

    /* Hamburger menu button i tag responsive styling */
    #menu-btn {
        display: flex;
        height: 30px;
        cursor: pointer;
    }

    /* Button's Middle Line Transparent Style */
    #menu-btn.active #hamburger-btn {
        background-color: transparent;
    }

    /* Button's First Line's Transform to / (X) button */
    #menu-btn.active #hamburger-btn::before {
        transform: translateY(8px) rotate(-45deg);
        -webkit-transform: translateY(8px) rotate(-45deg);
        -moz-transform: translateY(8px) rotate(-45deg);
    }

    /* Button's Last Line's Transform to \ (X) button */
    #menu-btn.active #hamburger-btn::after {
        transform: translateY(-8px) rotate(45deg);
        -webkit-transform: translateY(-8px) rotate(45deg);
        -moz-transform: translateY(-8px) rotate(45deg);
    }
    
}

@media (max-width: 475px) {
    #parent {
        margin: 1rem 1rem;
    }
}

/* M E D I A - Q U E R Y - R E S P O N S I V E - D E S I G N */

/* ----------------- H E A D E R ----------------- */