/* G L O B A L */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, li, a {
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 0.8);
}

.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

#underline, a:hover {
    text-decoration: underline;
}
/* G L O B A L */

/* H E A D E R */
header {
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

nav ul {
    justify-content: center;
}

nav ul li {
    padding: 0 1rem;
}
/* H E A D E R */